<!DOCTYPE html>
<html lang="es">
<head>
    <!-- META ETIQUETAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Diseñamos y construimos casas de madera que combinan naturaleza, confort y diseño. Espacios cálidos, sostenibles y hechos para durar, pensados para quienes buscan vivir en armonía con el entorno.">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Gabriel V.A.">
    <meta name="keywords" content="casa, casa de madera, coruña, casa de madrea natural, casa de madera coruña">
    <meta name="locality" content="culleredo, Galicia, España">
    <meta name="category" content="Spanish, Spain, Wood carpentry">
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="../estilos/estilos.css">
    <!-- TITULO-->
    <title>MAGG | Casas de diseño</title>
</head>
<body>
    <header>
        <a href="../index.html"><img class="logo" src="../assets/img/MAGG.png" alt="Logo"></a>
        <nav class="navigationBar">
            <ul class="navigationBarlist">
                <li>
                    <a class="enlace" href="../index.html">Inicio</a>
                </li>
                <li>
                    <a class="enlace" href="./contacto.html">Contacto</a>
                </li>
                <li>
                    <a class="enlace active" href="#">Productos</a>
                </li>
                <li>
                    <a class="enlace" href="./presupuestos.html">Presupuesto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Nuestros Proyectos</h1>

            <div class="galeria-grid">    
                <div class="galeria-item">
                    <img src="../assets/img/casa1.png" alt="Casa moderna 1">
                    <p>Casa Moderna - 120m²</p>
                </div>
                <div class="galeria-item">
                    <img src="../assets/img/casa familiar.png" alt="Casa moderna 2">
                    <p>Casa Familiar - 150m²</p>
                </div>
                <div class="galeria-item">
                    <img src="../assets/img/casa rural.png" alt="Casa moderna 3">
                    <p>Casa Rural - 95m²</p>
                </div>
                <div class="galeria-item">
                    <img src="../assets/img/casa minimalista.png" alt="Casa moderna 4">
                    <p>Casa Minimalista - 110m²</p>
                </div>
                <div class="galeria-item">
                    <img src="../assets/img/casa premium.png" alt="Casa moderna 5">
                    <p>Casa Premium - 180m²</p>
                </div>
                <div class="galeria-item">
                    <img src="../assets/img/casa eco.png" alt="Casa moderna 6">
                    <p>Casa Eco - 130m²</p>
                </div>
                <div class="galeria-item">
                    <img src="../assets/img/casa nordica.webp" alt="Casa moderna 6">
                    <p>Casa Nórdica - 140m²</p>
                </div>
                <div class="galeria-item">
                    <img src="../assets/img/casa de montaña.png" alt="Casa moderna 6">
                    <p>Casa de Montaña - 160m²</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="redes">
            <a href="https://www.facebook.com" target="_blank">
                <img src="../assets/img/facebook_725289.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="../assets/img/application_15072085.png" alt="Instagram">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="../assets/img/twitter_5968830.png" alt="Twitter">
            </a>
        </div>
        <div class="info">
            <p>MAGG S.L.</p>
            <p>AC-213, 91, 15174 Culleredo, La Coruña</p>
        </div>
        <div class="aviso">
            <p>
                <a href="./aviso-legal.html">Aviso legal</a>
            </p>
        </div>
    </footer>
</body>
</html>